<% layout('layouts/boilerplate') %>
<h1>All Stadiums</h1>
<div>
    <a href="/stadiums/new">Add Stadium</a>
</div>
    <ul>
        <% for (let stadium of stadiums) { %>
            <li><a href="/stadiums/<%=stadium._id%>"><%= stadium.location %></a></li>
        <% } %>
    </ul>