<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>New Campground</title>
    </head>
    <body>
        <form action="/stadiums" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="stadium[name]">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" id="location" name="stadium[location]">
            </div>
            <button>Add Stadium</button>
        </form>
    </body>
</html>