<% layout('layouts/boilerplate') %>
<h1>Show Stadiums</h1>
<h2><%= stadium.location %></h2>
<img src="<%= stadium.image %>">
<p><a href="/stadiums/<%= stadium._id %>/edit">Edit Stadium</a></p>
<p><a href="/stadiums">Back to Home</a></p>
<form action="/stadiums/<%= stadium._id%>/?_method=DELETE" method="POST">
    <button>Delete Stadium</button>
</form>