<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Show Stadium</title>
    </head>
    <body>
        <h1>Show Stadiums</h1>
        <p><%= stadium.location %></p>
        <p><a href="/stadiums/<%= stadium._id %>/edit">Edit Stadium</a></p>
        <p><a href="/stadiums">Back to Home</a></p>
        <form action="/stadiums/<%= stadium._id%>/?_method=DELETE" method="POST">
            <button>Delete Stadium</button>
    </body>
</html>